:root{
    --primary-color: #4362B0;
    --secondary-color: #202531;
    --accent1-color: #506295;
    --accent2-color: #B0B0B0;
    --body-font: "Open Sans", sans-serif;
    --title-font: "Raleway", sans-serif;
}

/*---------------------General style / About us page------------ */


header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 500px 1fr;
    align-items: start;
}

.logo-area {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 1rem
}

nav.links { 
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    gap: 0px
}

nav.links a{
    font-family: var(--title-font);
    margin: 0;
    padding: 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color)
}

header, main, footer {
    width: 1100px;
    margin: 0 auto;
}

.history{
    display: grid;
    text-align: center;
    border: solid var(--primary-color);
}

.hero {
    position: relative;
    margin-bottom: 100px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    letter-spacing: 0.2em;
    top: 70px;
    color: whitesmoke;
    background-color: var(--accent1-color);
    padding: 16px;
    opacity: 0.9;
    width: 100%;
    text-align: center;
}

.hero article {
    position: absolute;
    background-color: var(--accent1-color);
    top: 450px;
    
}

.hero article img {
    float: right;
    width: 250px;
}


h1, h2 {
    font-family: var(--title-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    
}

.adventure{
    display:grid;
    text-align: center;
    border: solid var(--primary-color);
    grid-template-columns: 1fr;

}

#images {
    display: flex;
    flex-wrap:  nowrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: auto;
}

figure {
    
    max-width: 200px;
    margin: 0;
    text-align: center;

}

figure img{
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 9px;

}

footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8rem;
    border: solid var(--primary-color);
}

.socialmedia a {
    text-decoration: none;

}


/* -------------------- Contact Page ----------------------- */

/* form */

div.table{
    display: grid;
    justify-content: center;
    border-radius: 5px;
    border: 4px solid var(--secondary-color);
    margin: 1rem auto;
    width: fit-content;
    text-align: center;
}

.table h1 {
    text-transform: uppercase;
}

table {
    border: 2px solid rgb(140, 140, 140);
    letter-spacing: 1px;
}

thead {
  background-color: var(--secondary-color);
  color: #ffff;
}

th, td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;

}

tfoot {
    background-color: var(--accent2-color);
}

/* customer service section */

.workers{
    font-family:  "Oswald", sans-serif;
    display: grid;
    text-align: center;
}

.workers h3 {
    margin: 2rem;
}

.workers_img {
    display: flex;
    justify-content: space-evenly;
}

figure {
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    padding-bottom: 0;
}

.workers img {
    padding: 1rem;
    border-radius: 2rem;
}

.workers figcaption {
    margin: 0;

}

/* Form section */

form {
    font-family: "Oswald", sans-serif;
    display: grid;
    width: 650px;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--accent1-color);
    border: 1px solid rgb(0, 0, 0/ 0.1);
}

form p {
    text-align: center;
    color: #fff;
    font-weight: 600;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
}

legend {
    font-weight: 1000;
    text-align: center;
    color: white;
    font-size: 1.3rem;
}

label, button {
    color: white;
    font-weight: 500;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
button:hover{
    transform: scale(1.05);
    background-color: #003366;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

/* -------------- Home Page ---------------*/

.hero a {
    display: flex;
    justify-self: center;
    position: absolute;
    top: 20%;
    font-family: var(--title-font);
    margin: 0;
    opacity: 0.9;
    padding: 40px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 10px;
    font-size: large;
    color: whitesmoke;
    border-radius: 100px;
    background-color: var(--primary-color);
}

.hero a:hover {
    transform: scale(1.05);
    background-color: #003366;
    font-size: larger;
 }


.image-section {
    margin-top: 6rem;
 }

 .purpose {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 4em;
 }

.purpose img {
    width: 100%;
    height: auto;
    border-radius: 5rem;
}

.purpose h1 {
    letter-spacing: 10px;
}

.offering {
    margin-top: 6rem;
}

.offering h1 {
    text-align: center;
    letter-spacing: 10px;
}

.offering-images {
    margin-top: 30px;
   display: flex;
   justify-content: center;
   gap: 50px;
   padding: 20px;
   flex-wrap: wrap;
}

.offer-image {
  max-width: 400px;
  text-align: center;
  flex: 1 1 300px;
}

.offer-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Trips section */

.cta-section{
    text-align: center;
    border-radius: 5em;
    font-weight: bold;
    font-family: var(--title-font);
    font-size: 1.4em;
    background-color: var(--accent2-color);
    padding-bottom: 2rem;
}

.cta-button {
    display: inline-block;
    margin: 0 auto;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    background-color: var(--primary-color);
    border-radius: 10rem; 
    padding: 0.75rem 1.5rem;
    margin: 0 auto;
}

.cta-button:hover {
    transform: scale(1.1);
}

.trips-table-section {
    display: grid;
    gap: 2em;
    margin: 3.5em 0;

}

.trips-table-section h2 {
    text-align: center;
    font-size: 2.5em;
    font-weight:bold;
}

.trip {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

.trip img {
    width: 45%;
    border-radius: 8px;
}

.trip-description {
    width: 55%;
    padding: 1rem;
}
