:root{
    --primary-color: #4362B0;
    --secondary-color: #202531;
    --accent1-color: #506295;
    --accent2-color: #B0B0B0;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 500px 1fr;
    align-items: start;
}

.logo-area {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 1rem
}

nav.links { 
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    gap: 0px
}

nav.links a{
    margin: 0;
    padding: 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color)
}

header, main, footer {
    width: 1100px;
    margin: 0 auto;
}

.history{
    display: grid;
    text-align: center;
    border: solid var(--primary-color);
}

h1, h2 {
    font-family: var(--hading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    
}

.adventure{
    display:grid;
    text-align: center;
    border: solid var(--primary-color);
    grid-template-columns: 1fr;

}

#images {
    display: flex;
    flex-wrap:  nowrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: auto;
}

figure {
    
    max-width: 200px;
    margin: 0;
    text-align: center;

}

figure img{
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 9px;

}

footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8rem;
    border: solid var(--primary-color);
}

.socialmedia a {
    text-decoration: none;

}

.hero {
    position: relative;
    margin-bottom: 100px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 70px;
    color: whitesmoke;
    background-color: var(--accent1-color);
    padding: 16px;
    opacity: 0.9;
    width: 100%;
    text-align: center;
}

.hero article {
    position: absolute;
    background-color: var(--accent1-color);
    top: 450px;
    
}

.hero article img {
    float: right;
    width: 250px;
}

/* Contact Section */


div.table{
    display: grid;
    justify-content: center;
    border-radius: 5px;
    border: 4px solid var(--secondary-color);
    margin: 1rem auto;
    width: fit-content;
    text-align: center;
}

table {
    border: 2px solid rgb(140, 140, 140);
    letter-spacing: 1px;
}

thead {
  background-color: var(--secondary-color);
  color: #ffff;
}

th, td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;

}

tfoot {
    background-color: var(--accent2-color);
}

/* customer service section */

.workers{
    display: grid;
    text-align: center;
}

.workers h3 {
    margin: 2rem;
}

.workers_img {
    display: flex;
    justify-content: space-evenly;
}

figure {
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    padding-bottom: 0;
}

.workers img {
    padding: 1rem;
    border-radius: 2rem;
}

.workers figcaption {
    margin: 0;

}

/* Form section */



form {
    display: grid;
    width: 650px;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--accent1-color);
    border: 1px solid rgb(0, 0, 0/ 0.1);
}

form p {
    text-align: center;
    color: #fff;
    font-weight: 600;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
}

legend {
    font-weight: 1000;
    text-align: center;
    color: white;
    font-size: 1.3rem;
}

input, label, button, select, textarea {
    color: white;
    font-weight: 500;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

