:root{
    --nav-background-color: darkblue;
    --nav-padding: 10px;
    --a-in-nav-color: white;
    --a-in-nav-display: block;
    --a-in-nav-padding: 20px;
    --black-borders: 1px solid black;
    --text-centered: center;
    
}


nav {
    background-color: var(--nav-background-color);
    padding: var(--nav-padding);
}
nav a {
    color: var(--a-in-nav-color);
    display: var(--a-in-nav-display);
    padding: var(--a-in-nav-padding);
}

h1 { 
    color: darkblue;
}

main img {
    width: 40%;
    height: auto;
    border: var(--black-borders);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p { 
    padding: 0;
}
main {
    max-width: 480px;
}

aside {
    width: 20rem;
    margin:1rem;
    border: var(--black-borders);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-centered);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--black-borders);
    text-align: var(--text-centered);
}