:root{
    --nav-background-color: steelblue;
    --nav-padding: 10px;
    --a-links-color: white;
    --black-borders: 1px solid #000;
    --text-centered: center;
    
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header, footer{
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--nav-background-color);
    padding: var(--nav-padding);
}
nav a {
    color: var(--a-links-color);
    display: block;
    padding: var(--nav-padding);
}

h1 { 
    color: steelblue;
    padding: .5rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
    
}

p { 
    padding: 0;
}

nav{
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

main {
    max-width: 700px;
    max-height: 700px;
}

aside {
    width: 20em;
    background-color: #eee;
    color: #333;
    text-align: var(--text-centered);
    position: relative;
}

aside h2{
    position: absolute;
    top: 50px;
    left: 80px;
    color: #eee;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--black-borders);
    text-align: var(--text-centered);
}

/* Class selectors */
.box{
    margin: 1.5rem;
    border: 1px solid rgb(0 0 0 / .1);
    padding: 1rem;
    background-color: #eee;
    color:#000;

}